body {
    display: flex;
    flex-direction: column;
}

.header-container {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header-top {
    display: flex;
    justify-content: space-between;

}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 100px;
    font-weight: 600;
    margin-top: 12px;
}

ul {
    display: flex;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    gap: 18px;
    margin-right: 100px;
}

li {
    gap: 12px;
}

.header-bottom {
    margin-left: 100px;
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}

.header-text-button {
    display: flex;
    flex-direction: column;
    width: 300px;    
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    width: 100px;
}

.header-image-placeholder {

    height: 150px;
    width: 350px;
    background-color: grey;
    margin-right: 100px;
}

.information-container {
    background-color: blue;
    height: 500px;
}