body {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-right: 150px;
    min-width: 800px;
}

.header-container {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header-top {
    display: flex;
    justify-content: space-between;

}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 100px;
    font-weight: 600;
    margin-top: 12px;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    gap: 18px;
    margin-right: 100px;
}

li {
    gap: 12px;
}

.header-bottom {
    margin-left: 100px;
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    margin-right: 100px;
    margin-bottom: 100px;
}

.header-text-button {
    display: flex;
    flex-direction: column;
    width: 300px; 
    margin-right: 30px;
    flex: 1;
    gap: 10px;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 8px;
    background-color: #439cef;
    border: none;
    color: #E5E7EB;
    font-weight: 600;
    
}



.header-image-placeholder {

    display: flex;
    min-width: 300 px;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #808080;

}

.information-container {
    background-color: white;
    height: 400px;
}

.information {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin: 30px;
    color: #1F2937;
}

.image-container {
    display: flex;
    justify-content: space-around;
    margin-left: 200px;
    margin-right: 200px;
}

.image-subtext {
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
    gap: 8px;
}

.image-placeholder {
    height: 150px;
    border: 4px solid #439cef;
    border-radius: 8px;
    background-color: white;
}

.quote-container {
    background-color: #E5E7EB;
    padding: 100px;
    padding-left: 500px;
    padding-right: 500px;

}
.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    min-width: 300px;

}

.quote-author {
    font-size: 18px;
    font-weight: 800;
    text-align: right;
}

.call-to-action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 8px;
    height: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 400px;
    margin-right: 400px;
    background-color: #439cef;
}

.cta-header {
    font-size: 24px;
    color: white;
    font-weight: 700;
}

.cta-text {
    color: #E5E7EB;
    font-size: 18px;
    padding-left: 70px;
}

.cta-button {
    width: 100px;
    height: 30px;
    border-radius: 8px;
    background-color: #439cef;
    border: 3px solid white;
    color: #E5E7EB;
    font-weight: 600;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    text-align: center;
    color: white;
    height: 70px;
}